<configuration>
    <property resource="loghub-test.properties"/>

    <!--为了防止进程退出时，内存中的数据丢失，请加上此选项-->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <!-- 可用来获取StatusManager中的状态 -->
<!--    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>-->

    <appender name="common-loghub-without-layout" class="com.daemon.loggers.logback.loghub.LoghubAppender">
        <auth class="com.daemon.loggers.logback.loghub.element.Auth">
            <endpoint>${endpoint}</endpoint>
            <project>${project}</project>
            <logstore>${logstore}</logstore>
            <accessId>${access_id}</accessId>
            <accessKey>${access_key}</accessKey>
            <token>${token}</token>
            <userAgent>${user_agent}</userAgent>
        </auth>
        <destination class="com.daemon.loggers.logback.loghub.element.Destination">
            <topic>${topic}</topic>
            <module>${module}</module>
            <source>${source}</source>
            <host>${host}</host>
        </destination>
        <policy class="com.daemon.loggers.logback.loghub.element.Policy">
            <timeout>${timeout}</timeout>
            <count>100</count>
            <bytes>1000</bytes>
            <memory>10000</memory>
            <retries>3</retries>
            <threads>8</threads>
        </policy>
    </appender>

    <appender name="common-loghub-with-pattern-layout" class="com.daemon.loggers.logback.loghub.LoghubAppender">
        <auth class="com.daemon.loggers.logback.loghub.element.Auth">
            <endpoint>${endpoint}</endpoint>
            <project>${project}</project>
            <logstore>${logstore}</logstore>
            <accessId>${access_id}</accessId>
            <accessKey>${access_key}</accessKey>
            <token>${token}</token>
            <userAgent>${user_agent}</userAgent>
        </auth>
        <destination class="com.daemon.loggers.logback.loghub.element.Destination">
            <topic>${topic}</topic>
            <module>${module}</module>
            <source>${source}</source>
            <host>${host}</host>
        </destination>
        <policy class="com.daemon.loggers.logback.loghub.element.Policy">
            <timeout>${timeout}</timeout>
            <count>100</count>
            <bytes>1000</bytes>
            <memory>10000</memory>
            <retries>3</retries>
            <threads>8</threads>
        </policy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%date %-5level %logger{0} - %message%n</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="common-loghub-with-track-layout" class="com.daemon.loggers.logback.loghub.LoghubAppender">
        <auth class="com.daemon.loggers.logback.loghub.element.Auth">
            <endpoint>${endpoint}</endpoint>
            <project>${project}</project>
            <logstore>${logstore}</logstore>
            <accessId>${access_id}</accessId>
            <accessKey>${access_key}</accessKey>
            <token>${token}</token>
            <userAgent>${user_agent}</userAgent>
        </auth>
        <destination class="com.daemon.loggers.logback.loghub.element.Destination">
            <topic>${topic}</topic>
            <module>${module}</module>
            <source>${source}</source>
            <host>${host}</host>
        </destination>
        <policy class="com.daemon.loggers.logback.loghub.element.Policy">
            <timeout>${timeout}</timeout>
            <count>100</count>
            <bytes>1000</bytes>
            <memory>10000</memory>
            <retries>3</retries>
            <threads>8</threads>
        </policy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.daemon.loggers.logback.loghub.element.TrackLayout">
                <pattern>%date %-5level %logger{0} - %message%n</pattern>
            </layout>
        </encoder>
        <debug>true</debug>
    </appender>

    <appender name="common-loghub-with-track-event" class="com.daemon.loggers.logback.loghub.LoghubAppender">
        <auth class="com.daemon.loggers.logback.loghub.element.Auth">
            <endpoint>${endpoint}</endpoint>
            <project>${project}</project>
            <logstore>${logstore}</logstore>
            <accessId>${access_id}</accessId>
            <accessKey>${access_key}</accessKey>
            <token>${token}</token>
            <userAgent>${user_agent}</userAgent>
        </auth>
        <destination class="com.daemon.loggers.logback.loghub.element.Destination">
            <topic>${topic}</topic>
            <module>${module}</module>
            <source>${source}</source>
            <host>${host}</host>
        </destination>
        <policy class="com.daemon.loggers.logback.loghub.element.Policy">
            <timeout>${timeout}</timeout>
            <count>100</count>
            <bytes>1000</bytes>
            <memory>10000</memory>
            <retries>3</retries>
            <threads>8</threads>
        </policy>
        <predefined class="com.daemon.loggers.logback.loghub.element.Predefined">
            <pair class="com.daemon.loggers.logback.loghub.element.Pair">
                <key>p1</key>
                <value>v1</value>
            </pair>
        </predefined>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.daemon.loggers.logback.loghub.element.TrackLayout">
                <pattern>%date %-5level %logger{0} - %message%n</pattern>
            </layout>
        </encoder>
        <debug>true</debug>
    </appender>
    <appender name="null" class="ch.qos.logback.core.helpers.NOPAppender"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- 解决debug模式下循环发送的问题 -->
    <logger name="org.apache.http.impl.conn.Wire" level="WARN" />

    <logger name="loghub-appender-without-layout" additivity="false">
        <appender-ref ref="common-loghub-without-layout"/>
    </logger>

    <logger name="loghub-appender-with-pattern-layout" additivity="false">
        <appender-ref ref="common-loghub-with-pattern-layout"/>
    </logger>

    <logger name="loghub-appender-with-track-layout" additivity="false">
        <appender-ref ref="common-loghub-with-track-layout"/>
    </logger>

    <logger name="loghub-appender-with-track-event" additivity="false">
        <appender-ref ref="common-loghub-with-track-event"/>
    </logger>

    <root>
        <appender-ref ref="null"/>
    </root>
</configuration>